if ! has nix_direnv_version || ! nix_direnv_version 3.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.1/direnvrc" "sha256-FMMzOB3XNJZMl3L3yVaMV+Y+2ihXsSq3HAqywAc7mmU="
fi
use flake
